/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.bg-gradient-green-y {
  background: linear-gradient(87deg, #57d127 0, #ffffff 100%) !important;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #57d127
}
